body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #252424;
    font-family: Arial, sans-serif;
}


.stopwatch {
    text-align: center;
    background: #888787;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #eee;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}
